:root {
    --primary-color: rgb(233, 164, 3);
    --primary-color2: rgb(250, 122, 36);
    --text-color-dark: #000000;
    --text-color-light: rgb(228, 225, 235);
    --bg-color: #9e9b9b;
    --primary-background1: rgba(255, 206, 61, 0.058);
    --primary-background2: rgba(225, 221, 221, 0);
    --box-shadow-color: rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
  }

  @keyframes waterflow {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
  }

@media screen and (max-width: 767px) {
    :root {
      margin: 0;
      padding: 0;
    }
  }
  

html {
    margin: 0;
  }


a {
    color: var(--primary-color);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

/* Logo Container */

.company-logo {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--font-color-light) !important;
}

.company-name {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 20px;
    color: var(--font-color-light) !important;
}

.logo-container {
    margin-top: 2rem;
    box-shadow: 0 2px 4px var(--box-shadow-color);
}

.company-logo-placeholder {
    font-family: "Arial", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: var(--text-color-light);
    margin: 0;
    padding: 20px 0;
    text-shadow: 2px 2px 4px var(--box-shadow-color);
}

/* Hero Section */
.hero {
    background-image: url('bg-placeholder.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    text-shadow: 0 2px 4px var(--box-shadow-color);
}

/* Section Styling */
section {
    margin-bottom: 60px;
}

section h2 {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

/* Services Section */
.services {
    margin-top: 50px;
}

.services h2 {
    color: var(--text-color-dark);
}

.services ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services li {
    flex: 0 0 calc(33.333% - 20px);
    background-color: var(--primary-background1);
    padding: 20px;
    box-shadow: 0 2px 4px var(--box-shadow-color);
    margin-bottom: 20px;
    text-align: center;
}

/* Card Styling */
.card {
    background-color: var(--primary-background2);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.card-header {
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--text-color-light);
    padding: 16px;
}

.card-body {
    padding: 16px;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid var(--primary-color);
}

.list-group-item {
    border: none;
    border-bottom: 1px solid var(--primary-color);
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item .badge {
    background-color: var(--primary-color);
}

/* QR Code Styling */
.qr-section {
    text-align: center;
    margin: 20px 0;
    padding: 100px;
}

.qr-button-container {
    background-color: var(--primary-color);
    border: 10px solid var(--primary-color2);
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    animation: qr-button-animation 2s linear infinite alternate;
}

#qr-button {
    background-color: var(--primary-color2);
    border: none;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    font-size: 2rem;
    color: var(--text-color-light);
    cursor: pointer;
    transition: transform 0.3s;
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

#qrButton img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    margin-right: 10px;
}

#qr-dropdown {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
    width: 90vw;
    max-width: 400px;
    height: 90vw;
    max-height: 400px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    padding: 20px;
    text-align: center;
}

#qr-dropdown.show {
    display: block;
}

#qr-dropdown img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.phone-number-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 2px 4px var(--box-shadow-color);

}

.nav-link {
    font-size: 18px;
    transition: color 0.3s;
}

.nav-link {
    position: relative;
    overflow: hidden;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--primary-color);
    z-index: -1;
    transition: height 0.3s;
}

.nav-link:hover::before {
    height: 100%;
}

.nav-link:hover {
    color: var(--text-color-light) !important;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--text-color-dark);
}

.phone-number {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 991.98px) {
    .navbar-toggler {
        margin-right: 0;
    }

    .navbar-collapse {
        text-align: center;
    }
}


.phone-number {
    font-weight: bold;
    color: var(--primary-color2);
    font-size: 2.2rem;
    border-radius: 50%;
    padding: 10px;
    background-color: transparent;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .phone-number {
        font-size: 1.6rem;
    }
}


.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 5%;
}

#qr-button {
    background-color: var(--primary-color2);
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 2rem;
    color: var(--text-color-light);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s; /* Add background-color transition */
}

#qr-button:hover {
    transform: scale(1.1);
    background-color: var(--primary-color);
    border: 15px solid var(--primary-color2);
}


#qr-dropdown {
    display: none;
    text-align: center;
}

:root {
    --navbar-height: 56px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color-dark);
    padding-top: var(--navbar-height);
}


.logo-container {
    background-image: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-color2) 100%);
    padding: 100px 0 0 0;
    position: relative;
    overflow: hidden;
}

@keyframes shadow-animation {
    0% {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    50% {
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

.glass-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
    animation: shadow-animation 3s ease-in-out infinite;
}


.intro-description {
    font-size: 1.2rem;
    color: var(--text-color-dark);
}

.bullet {
    float: left;
    margin-left: 5%;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    content: "\2022";
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-right: 10px;
    animation: animate__heartBeat 2s infinite;
}

  
  @keyframes bubble {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .list-group-item {
    display: flex;
    border: none;
    padding: 0;
  }
  
  
  .service-name {
    font-size: 1.2rem;
    float: left;
    margin-left: 10px;
  }
  
  @media only screen and (max-width: 991px) {
    .list-group-item {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 15px;
    }
    
    .bullet {
      margin-right: 5px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .list-group {
      column-count: 2;
      column-gap: 20px;
    }
    
    .list-group-item {
      padding: 10px 0;
    }
    
    .bullet {
      margin-right: 10px;
      animation-name: bubble;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
    }
  }
  
  .shine {
    position: relative;
}

.shine::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.13);
    transform: skewX(-25deg);
}

.shine::after {
    content: "";
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.13);
    transform: skewX(25deg);
}

/* Carousel Styling */
.carousel-section {
    margin-bottom: 60px;
  }
  
  .carousel-section h2 {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .carousel {
    height: 60vh;
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .carousel-item {
    height: 100%;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M6.5 0l-3.5 3.5 3.5 3.5 1.5-1.5-2-2 2-2-1.5-1.5z'/%3e%3c/svg%3e");
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M1.5 0l-1.5 1.5 3.5 3.5-3.5 3.5 1.5 1.5 2-2-2-2 2-2z'/%3e%3c/svg%3e");
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    height: 100%;
    top: 0;
    bottom: 0;
    width: auto;
    opacity: 0.5;
    z-index: 1;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 0.9;
  }
  
  .carousel-control-prev:focus,
  .carousel-control-next:focus {
    outline: none;
    box-shadow: none;
  }
  
  .carousel-indicators {
    bottom: 0;
  }
  
  .carousel-indicators li {
    background-color: black;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
  }
  
  .carousel-indicators li.active {
    background-color: var(--primary-color);
  }
  
  .section-title {
    background-color: var(--primary-color);
    color: var(--font-color-light) !important;
    font-weight: bold;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--box-shadow-color);
  }
  

  .service-list .list-group-item {
    display: inline-block;
    align-items: left
  }

  /* Responsive Design */
@media (max-width: 767px) {
    .location-description,
    address {
        font-size: 1.1rem;
    }
    
    h2.section-title {
        font-size: 1.5rem;
    }
    
    .company-name {
        font-size: 2rem;
    }
    
    .navbar-nav .nav-link {
        font-size: 1.1rem;
    }
}

.location-section {
    background-color: #f8f9fa;
}

.location-description,
address {
    line-height: 1.5;
}

address strong {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.location-section .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.location-section .card h2.section-title {
    text-align: center;
}

.map-container {
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

.rounded-map {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    height: 300px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

.btn-primary2 {
    font-size: 1.1em;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--bg-color);
    border-color: var(--primary-color2);
    color: var(--text-color-dark);
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

.btn-primary2:hover {
    background-color: var(--primary-color2);
    border-color: var(--primary-color);
    color: var(--text-color-light);
}
